<div class="container-body">
	<h1><%=@article.title %></h1>
<div>
	<%unless @article.user.nil?%>
	<p>
		Escrito por <%= @article.user.email %>
	</p>
	<%end%>
	<div>
		<%=@article.body %> - <%= link_to "Editar", edit_article_path(@article) %>		
	</div>	
	
</div>

</div>


